WMS30IQ.20123/WpfFrontOLD/Service References/WMSBusinessService/Entities.Master.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="Entities.Master" elementFormDefault="qualified" targetNamespace="Entities.Master" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="Entities.General" />
  <xs:import namespace="Entities.Profile" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entities.Process" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entities.Master" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="Entities.Trace" />
  <xs:complexType name="Company">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Entities.Profile" base="q1:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyID" type="xs:short" />
          <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErpCode" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="Entities.General" minOccurs="0" name="ErpConnection" nillable="true" type="q2:Connection" />
          <xs:element minOccurs="0" name="IsDefault" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="Entities.General" minOccurs="0" name="Status" nillable="true" type="q3:Status" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:complexType name="Bin">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="Entities.Profile" base="q4:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="Aisle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssignedProducts" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BinCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BinID" type="xs:int" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentOcupancy" type="xs:double" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsArea" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsFromErp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LevelCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="MinUnitCapacity" type="xs:double" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OcupancyRate" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities.Process" minOccurs="0" name="Process" nillable="true" type="q5:CustomProcess" />
          <xs:element minOccurs="0" name="Rank" type="xs:int" />
          <xs:element xmlns:q6="Entities.General" minOccurs="0" name="Status" nillable="true" type="q6:Status" />
          <xs:element minOccurs="0" name="UnitCapacity" type="xs:double" />
          <xs:element minOccurs="0" name="VolumeCapacity" type="xs:double" />
          <xs:element xmlns:q7="Entities.General" minOccurs="0" name="VolumeUnit" nillable="true" type="q7:MeasureUnit" />
          <xs:element minOccurs="0" name="WeightCapacity" type="xs:double" />
          <xs:element xmlns:q8="Entities.General" minOccurs="0" name="WeightUnit" nillable="true" type="q8:MeasureUnit" />
          <xs:element minOccurs="0" name="Zone" nillable="true" type="tns:Zone" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Bin" nillable="true" type="tns:Bin" />
  <xs:complexType name="Location">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="Entities.Profile" base="q9:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:Company" />
          <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErpCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDefault" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsFromErp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LocationID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element xmlns:q10="Entities.General" minOccurs="0" name="Status" nillable="true" type="q10:Status" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="Zone">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="Entities.Profile" base="q11:Auditing">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entities.Master" minOccurs="0" name="Contract" nillable="true" type="q12:Contract" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErpCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FatherZone" nillable="true" type="tns:Zone" />
          <xs:element minOccurs="0" name="IsDefault" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rank" type="xs:int" />
          <xs:element xmlns:q13="Entities.General" minOccurs="0" name="Status" nillable="true" type="q13:Status" />
          <xs:element minOccurs="0" name="StoreConditions" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZoneID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Zone" nillable="true" type="tns:Zone" />
  <xs:complexType name="Account">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="Entities.Profile" base="q14:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccountID" type="xs:int" />
          <xs:element xmlns:q15="Entities.General" minOccurs="0" name="BaseType" nillable="true" type="q15:AccountType" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:Company" />
          <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entities.Master" minOccurs="0" name="FatherContract" nillable="true" type="q16:Contract" />
          <xs:element minOccurs="0" name="FullDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsFromErp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserDefine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserDefine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserDefine3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebSite" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="Entities.Profile" base="q17:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlternProducts" nillable="true" type="tns:ArrayOfProductAlternate" />
          <xs:element minOccurs="0" name="AssignedBins" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AvgCost" type="xs:double" />
          <xs:element minOccurs="0" name="BaseUnit" nillable="true" type="tns:Unit" />
          <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:ProductCategory" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:Company" />
          <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entities.Master" minOccurs="0" name="Contract" nillable="true" type="q18:Contract" />
          <xs:element minOccurs="0" name="CountRank" type="xs:short" />
          <xs:element minOccurs="0" name="CountRankW" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DefVendorNumber" nillable="true" type="xs:string" />
          <xs:element xmlns:q19="Entities.General" minOccurs="0" name="DefaultTemplate" nillable="true" type="q19:LabelTemplate" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErpTrackOpt" type="xs:short" />
          <xs:element minOccurs="0" name="ForecastDemand" type="xs:int" />
          <xs:element minOccurs="0" name="FullDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsBinRestricted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsFromErp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsKit" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUniqueTrack" type="xs:boolean" />
          <xs:element minOccurs="0" name="Kit" nillable="true" type="tns:ArrayOfKitAssembly" />
          <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MaxStock" type="xs:double" />
          <xs:element minOccurs="0" name="MinStock" type="xs:double" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q20="Entities.General" minOccurs="0" name="PickMethod" nillable="true" type="q20:PickMethod" />
          <xs:element minOccurs="0" name="PrintLabel" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProductAccounts" nillable="true" type="tns:ArrayOfProductAccountRelation" />
          <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductCost" type="xs:double" />
          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductTrack" nillable="true" type="tns:ArrayOfProductTrackRelation" />
          <xs:element minOccurs="0" name="ProductUnits" nillable="true" type="tns:ArrayOfUnitProductRelation" />
          <xs:element minOccurs="0" name="PurchaseUnit" nillable="true" type="tns:Unit" />
          <xs:element minOccurs="0" name="Quality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SaleUnit" nillable="true" type="tns:Unit" />
          <xs:element xmlns:q21="Entities.General" minOccurs="0" name="Status" nillable="true" type="q21:Status" />
          <xs:element minOccurs="0" name="SugesstedBins" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitsPerPack" type="xs:int" />
          <xs:element minOccurs="0" name="UpcCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Volume" type="xs:double" />
          <xs:element minOccurs="0" name="Weight" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProductAlternate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductAlternate" nillable="true" type="tns:ProductAlternate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductAlternate" nillable="true" type="tns:ArrayOfProductAlternate" />
  <xs:complexType name="ProductAlternate">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="Entities.Profile" base="q22:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlternProduct" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsFromErp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductAlternate" nillable="true" type="tns:ProductAlternate" />
  <xs:complexType name="Unit">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="Entities.Profile" base="q23:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="BaseAmount" type="xs:double" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:Company" />
          <xs:element minOccurs="0" name="ErpCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErpCodeGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsFromErp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Unit" nillable="true" type="tns:Unit" />
  <xs:complexType name="ProductCategory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="Entities.Profile" base="q24:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:Company" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErpCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExplodeKit" type="xs:short" />
          <xs:element minOccurs="0" name="IsFromErp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductCategory" nillable="true" type="tns:ProductCategory" />
  <xs:complexType name="ArrayOfKitAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KitAssembly" nillable="true" type="tns:KitAssembly" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKitAssembly" nillable="true" type="tns:ArrayOfKitAssembly" />
  <xs:complexType name="KitAssembly">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="Entities.Profile" base="q25:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="AsmType" type="xs:short" />
          <xs:element minOccurs="0" name="EfectiveDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsFromErp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Method" type="xs:short" />
          <xs:element minOccurs="0" name="ObsoleteDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entities.Master" minOccurs="0" name="ProductFormula" nillable="true" type="q26:ArrayOfKitAssemblyFormula" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element xmlns:q27="Entities.General" minOccurs="0" name="Status" nillable="true" type="q27:Status" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="tns:Unit" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KitAssembly" nillable="true" type="tns:KitAssembly" />
  <xs:complexType name="ArrayOfProductAccountRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductAccountRelation" nillable="true" type="tns:ProductAccountRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductAccountRelation" nillable="true" type="tns:ArrayOfProductAccountRelation" />
  <xs:complexType name="ProductAccountRelation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="Entities.Profile" base="q28:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element xmlns:q29="Entities.General" minOccurs="0" name="AccountType" nillable="true" type="q29:AccountType" />
          <xs:element minOccurs="0" name="Code1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CubFeet" type="xs:double" />
          <xs:element minOccurs="0" name="IsDefault" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsFromErp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NetWeight" type="xs:double" />
          <xs:element minOccurs="0" name="PackUnit" nillable="true" type="tns:Unit" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element minOccurs="0" name="ShipWeight" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductAccountRelation" nillable="true" type="tns:ProductAccountRelation" />
  <xs:complexType name="ArrayOfProductTrackRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductTrackRelation" nillable="true" type="tns:ProductTrackRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductTrackRelation" nillable="true" type="tns:ArrayOfProductTrackRelation" />
  <xs:complexType name="ProductTrackRelation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="Entities.Profile" base="q30:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsRequired" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUnique" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element minOccurs="0" name="TempQty" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TempValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrackOption" nillable="true" type="tns:TrackOption" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductTrackRelation" nillable="true" type="tns:ProductTrackRelation" />
  <xs:complexType name="TrackOption">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="Entities.Profile" base="q31:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
          <xs:element xmlns:q32="Entities.General" minOccurs="0" name="DataType" nillable="true" type="q32:DataType" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsSystem" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUnique" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RowID" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrackOption" nillable="true" type="tns:TrackOption" />
  <xs:complexType name="ArrayOfUnitProductRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnitProductRelation" nillable="true" type="tns:UnitProductRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnitProductRelation" nillable="true" type="tns:ArrayOfUnitProductRelation" />
  <xs:complexType name="UnitProductRelation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q33="Entities.Profile" base="q33:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="BaseAmount" type="xs:double" />
          <xs:element minOccurs="0" name="IsBasic" type="xs:boolean" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element xmlns:q34="Entities.General" minOccurs="0" name="Status" nillable="true" type="q34:Status" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="tns:Unit" />
          <xs:element minOccurs="0" name="UnitErpCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Volume" type="xs:double" />
          <xs:element minOccurs="0" name="Weight" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnitProductRelation" nillable="true" type="tns:UnitProductRelation" />
  <xs:complexType name="ShippingMethod">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="Entities.Profile" base="q35:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:Company" />
          <xs:element minOccurs="0" name="ErpCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsFromErp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShpMethodID" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShippingMethod" nillable="true" type="tns:ShippingMethod" />
  <xs:complexType name="MType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetaTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="MType" nillable="true" type="tns:MType" />
  <xs:complexType name="ImageEntityRelation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="Entities.Profile" base="q36:Auditing">
        <xs:sequence>
          <xs:element xmlns:q37="Entities.General" minOccurs="0" name="Entity" nillable="true" type="q37:ClassEntity" />
          <xs:element minOccurs="0" name="EntityRowID" type="xs:int" />
          <xs:element xmlns:q38="Entities.General" minOccurs="0" name="FileType" nillable="true" type="q38:Connection" />
          <xs:element minOccurs="0" name="FullDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ImageName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImageEntityRelation" nillable="true" type="tns:ImageEntityRelation" />
  <xs:complexType name="ArrayOfProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductCategory" nillable="true" type="tns:ArrayOfProductCategory" />
  <xs:complexType name="ProductInventory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="Entities.Profile" base="q39:Auditing">
        <xs:sequence>
          <xs:element xmlns:q40="Entities.Trace" minOccurs="0" name="Document" nillable="true" type="q40:Document" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="QtyAllocated" type="xs:double" />
          <xs:element minOccurs="0" name="QtyAvailable" type="xs:double" />
          <xs:element minOccurs="0" name="QtyInStock" type="xs:double" />
          <xs:element minOccurs="0" name="QtyInUse" type="xs:double" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductInventory" nillable="true" type="tns:ProductInventory" />
  <xs:complexType name="ArrayOfProductInventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductInventory" nillable="true" type="tns:ProductInventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductInventory" nillable="true" type="tns:ArrayOfProductInventory" />
  <xs:complexType name="ArrayOfMType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MType" nillable="true" type="tns:MType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMType" nillable="true" type="tns:ArrayOfMType" />
  <xs:complexType name="MMaster">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetaMasterID" type="xs:int" />
      <xs:element minOccurs="0" name="MetaType" nillable="true" type="tns:MType" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumOrder" type="xs:short" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="MMaster" nillable="true" type="tns:MMaster" />
  <xs:complexType name="ArrayOfMMaster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MMaster" nillable="true" type="tns:MMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMMaster" nillable="true" type="tns:ArrayOfMMaster" />
  <xs:complexType name="ArrayOfShippingMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShippingMethod" nillable="true" type="tns:ShippingMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShippingMethod" nillable="true" type="tns:ArrayOfShippingMethod" />
  <xs:complexType name="Terminal">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q41="Entities.Profile" base="q41:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q42="Entities.General" minOccurs="0" name="Status" nillable="true" type="q42:Status" />
          <xs:element minOccurs="0" name="TerminalID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Terminal" nillable="true" type="tns:Terminal" />
  <xs:complexType name="ArrayOfTerminal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Terminal" nillable="true" type="tns:Terminal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerminal" nillable="true" type="tns:ArrayOfTerminal" />
  <xs:complexType name="ArrayOfUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Unit" nillable="true" type="tns:Unit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnit" nillable="true" type="tns:ArrayOfUnit" />
  <xs:complexType name="UnitProductEquivalence">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q43="Entities.Profile" base="q43:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="EquivFactor" type="xs:double" />
          <xs:element xmlns:q44="Entities.General" minOccurs="0" name="EquivMeasureUnit" nillable="true" type="q44:MeasureUnit" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element minOccurs="0" name="UnitProductRelation" nillable="true" type="tns:UnitProductRelation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnitProductEquivalence" nillable="true" type="tns:UnitProductEquivalence" />
  <xs:complexType name="ArrayOfUnitProductEquivalence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnitProductEquivalence" nillable="true" type="tns:UnitProductEquivalence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnitProductEquivalence" nillable="true" type="tns:ArrayOfUnitProductEquivalence" />
  <xs:complexType name="UnitProductLogistic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q45="Entities.Profile" base="q45:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="AmountOfContained" type="xs:int" />
          <xs:element minOccurs="0" name="ContainedUnit" nillable="true" type="tns:UnitProductEquivalence" />
          <xs:element minOccurs="0" name="LogisticUnit" nillable="true" type="tns:UnitProductEquivalence" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnitProductLogistic" nillable="true" type="tns:UnitProductLogistic" />
  <xs:complexType name="ArrayOfUnitProductLogistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnitProductLogistic" nillable="true" type="tns:UnitProductLogistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnitProductLogistic" nillable="true" type="tns:ArrayOfUnitProductLogistic" />
  <xs:complexType name="Vehicle">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q46="Entities.Profile" base="q46:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element minOccurs="0" name="Capacity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContainerCapacity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContainerNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErpCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Plate1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Plate2" nillable="true" type="xs:string" />
          <xs:element xmlns:q47="Entities.General" minOccurs="0" name="Status" nillable="true" type="q47:Status" />
          <xs:element minOccurs="0" name="VehicleID" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
  <xs:complexType name="ArrayOfZone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Zone" nillable="true" type="tns:Zone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZone" nillable="true" type="tns:ArrayOfZone" />
  <xs:complexType name="ZoneBinRelation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q48="Entities.Profile" base="q48:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bin" nillable="true" type="tns:Bin" />
          <xs:element minOccurs="0" name="BinType" type="xs:short" />
          <xs:element minOccurs="0" name="BinTypeDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentOcupancy" type="xs:double" />
          <xs:element minOccurs="0" name="MinUnitCapacity" type="xs:double" />
          <xs:element minOccurs="0" name="Rank" type="xs:int" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element minOccurs="0" name="UnitCapacity" type="xs:double" />
          <xs:element minOccurs="0" name="Zone" nillable="true" type="tns:Zone" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZoneBinRelation" nillable="true" type="tns:ZoneBinRelation" />
  <xs:complexType name="ArrayOfZoneBinRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZoneBinRelation" nillable="true" type="tns:ZoneBinRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZoneBinRelation" nillable="true" type="tns:ArrayOfZoneBinRelation" />
  <xs:complexType name="ZonePickerRelation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q49="Entities.Profile" base="q49:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="Picker" nillable="true" type="q49:SysUser" />
          <xs:element minOccurs="0" name="Rank" type="xs:int" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element minOccurs="0" name="Zone" nillable="true" type="tns:Zone" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZonePickerRelation" nillable="true" type="tns:ZonePickerRelation" />
  <xs:complexType name="ArrayOfZonePickerRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZonePickerRelation" nillable="true" type="tns:ZonePickerRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZonePickerRelation" nillable="true" type="tns:ArrayOfZonePickerRelation" />
  <xs:complexType name="ZoneEntityRelation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q50="Entities.Profile" base="q50:Auditing">
        <xs:sequence>
          <xs:element xmlns:q51="Entities.General" minOccurs="0" name="Entity" nillable="true" type="q51:ClassEntity" />
          <xs:element minOccurs="0" name="EntityRowID" type="xs:int" />
          <xs:element minOccurs="0" name="Forced" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Rank" type="xs:int" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element minOccurs="0" name="Zone" nillable="true" type="tns:Zone" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZoneEntityRelation" nillable="true" type="tns:ZoneEntityRelation" />
  <xs:complexType name="ArrayOfZoneEntityRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZoneEntityRelation" nillable="true" type="tns:ZoneEntityRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZoneEntityRelation" nillable="true" type="tns:ArrayOfZoneEntityRelation" />
  <xs:complexType name="ArrayOfImageEntityRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageEntityRelation" nillable="true" type="tns:ImageEntityRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageEntityRelation" nillable="true" type="tns:ArrayOfImageEntityRelation" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="AccountAddress">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q52="Entities.Profile" base="q52:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element minOccurs="0" name="AddressID" type="xs:int" />
          <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErpCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsFromErp" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMain" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShpMethod" nillable="true" type="tns:ShippingMethod" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element xmlns:q53="Entities.General" minOccurs="0" name="Status" nillable="true" type="q53:Status" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountAddress" nillable="true" type="tns:AccountAddress" />
  <xs:complexType name="ArrayOfAccountAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountAddress" nillable="true" type="tns:AccountAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountAddress" nillable="true" type="tns:ArrayOfAccountAddress" />
  <xs:complexType name="AccountTypeRelation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q54="Entities.Profile" base="q54:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element xmlns:q55="Entities.General" minOccurs="0" name="AccountType" nillable="true" type="q55:AccountType" />
          <xs:element minOccurs="0" name="ErpCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element xmlns:q56="Entities.General" minOccurs="0" name="Status" nillable="true" type="q56:Status" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountTypeRelation" nillable="true" type="tns:AccountTypeRelation" />
  <xs:complexType name="ArrayOfAccountTypeRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountTypeRelation" nillable="true" type="tns:AccountTypeRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountTypeRelation" nillable="true" type="tns:ArrayOfAccountTypeRelation" />
  <xs:complexType name="ArrayOfBin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bin" nillable="true" type="tns:Bin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBin" nillable="true" type="tns:ArrayOfBin" />
  <xs:complexType name="ArrayOfCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompany" nillable="true" type="tns:ArrayOfCompany" />
  <xs:complexType name="C_CasNumber">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q57="Entities.Profile" base="q57:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="CasNumberID" type="xs:int" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="C_CasNumber" nillable="true" type="tns:C_CasNumber" />
  <xs:complexType name="ArrayOfC_CasNumber">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="C_CasNumber" nillable="true" type="tns:C_CasNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfC_CasNumber" nillable="true" type="tns:ArrayOfC_CasNumber" />
  <xs:complexType name="C_CasNumberFormula">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q58="Entities.Profile" base="q58:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="CasNumberComponent" nillable="true" type="tns:C_CasNumber" />
          <xs:element minOccurs="0" name="Percent" type="xs:double" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="C_CasNumberFormula" nillable="true" type="tns:C_CasNumberFormula" />
  <xs:complexType name="ArrayOfC_CasNumberFormula">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="C_CasNumberFormula" nillable="true" type="tns:C_CasNumberFormula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfC_CasNumberFormula" nillable="true" type="tns:ArrayOfC_CasNumberFormula" />
  <xs:complexType name="C_CasNumberRule">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q59="Entities.Profile" base="q59:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="CasNumber" nillable="true" type="tns:C_CasNumber" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element minOccurs="0" name="Rule" nillable="true" type="tns:MMaster" />
          <xs:element minOccurs="0" name="RuleValue" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="C_CasNumberRule" nillable="true" type="tns:C_CasNumberRule" />
  <xs:complexType name="ArrayOfC_CasNumberRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="C_CasNumberRule" nillable="true" type="tns:C_CasNumberRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfC_CasNumberRule" nillable="true" type="tns:ArrayOfC_CasNumberRule" />
  <xs:complexType name="Contact">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q60="Entities.Profile" base="q60:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element minOccurs="0" name="ContactID" type="xs:int" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErpCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone3" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
  <xs:complexType name="ContactEntityRelation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q61="Entities.Profile" base="q61:Auditing">
        <xs:sequence>
          <xs:element xmlns:q62="Entities.General" minOccurs="0" name="ClassEntity" nillable="true" type="q62:ClassEntity" />
          <xs:element minOccurs="0" name="Contact" nillable="true" type="tns:Contact" />
          <xs:element minOccurs="0" name="ContactPosition" nillable="true" type="tns:ContactPosition" />
          <xs:element minOccurs="0" name="EntityRowID" type="xs:int" />
          <xs:element minOccurs="0" name="IsMain" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element xmlns:q63="Entities.General" minOccurs="0" name="Status" nillable="true" type="q63:Status" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactEntityRelation" nillable="true" type="tns:ContactEntityRelation" />
  <xs:complexType name="ContactPosition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q64="Entities.Profile" base="q64:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactPositionID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactPosition" nillable="true" type="tns:ContactPosition" />
  <xs:complexType name="ArrayOfContactEntityRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactEntityRelation" nillable="true" type="tns:ContactEntityRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactEntityRelation" nillable="true" type="tns:ArrayOfContactEntityRelation" />
  <xs:complexType name="ArrayOfContactPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactPosition" nillable="true" type="tns:ContactPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactPosition" nillable="true" type="tns:ArrayOfContactPosition" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="ArrayOfTrackOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackOption" nillable="true" type="tns:TrackOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackOption" nillable="true" type="tns:ArrayOfTrackOption" />
</xs:schema>