LogPro 01 Septiembre 2015/WMS30IQ.20123/WpfFrontOLD/Service References/WMSBusinessService/Entities.Process.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities.Process" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities.Process" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="Entities.General" />
  <xs:import namespace="Entities.Profile" />
  <xs:import namespace="Entities.Master" />
  <xs:complexType name="CustomProcessActivity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Entities.Profile" base="q1:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivityID" type="xs:int" />
          <xs:element minOccurs="0" name="ActivityType" type="xs:short" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="Entities.General" minOccurs="0" name="ProcessType" nillable="true" type="q2:DocumentType" />
          <xs:element xmlns:q3="Entities.General" minOccurs="0" name="Status" nillable="true" type="q3:Status" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomProcessActivity" nillable="true" type="tns:CustomProcessActivity" />
  <xs:complexType name="CustomProcessRoute">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="Entities.Profile" base="q4:Auditing">
        <xs:sequence>
          <xs:element xmlns:q5="Entities.Master" minOccurs="0" name="Company" nillable="true" type="q5:Company" />
          <xs:element minOccurs="0" name="ProcessFrom" nillable="true" type="tns:CustomProcess" />
          <xs:element minOccurs="0" name="ProcessTo" nillable="true" type="tns:CustomProcess" />
          <xs:element xmlns:q6="Entities.General" minOccurs="0" name="ProcessType" nillable="true" type="q6:DocumentType" />
          <xs:element minOccurs="0" name="RouteID" type="xs:int" />
          <xs:element xmlns:q7="Entities.General" minOccurs="0" name="Status" nillable="true" type="q7:Status" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomProcessRoute" nillable="true" type="tns:CustomProcessRoute" />
  <xs:complexType name="CustomProcess">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="Entities.Profile" base="q8:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsRouted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSystem" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q9="Entities.General" minOccurs="0" name="Printer" nillable="true" type="q9:Connection" />
          <xs:element minOccurs="0" name="ProcessContext" nillable="true" type="tns:ArrayOfCustomProcessContextByEntity" />
          <xs:element minOccurs="0" name="ProcessID" type="xs:int" />
          <xs:element xmlns:q10="Entities.General" minOccurs="0" name="ProcessType" nillable="true" type="q10:DocumentType" />
          <xs:element xmlns:q11="Entities.General" minOccurs="0" name="Status" nillable="true" type="q11:Status" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomProcess" nillable="true" type="tns:CustomProcess" />
  <xs:complexType name="ArrayOfCustomProcessContextByEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomProcessContextByEntity" nillable="true" type="tns:CustomProcessContextByEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomProcessContextByEntity" nillable="true" type="tns:ArrayOfCustomProcessContextByEntity" />
  <xs:complexType name="CustomProcessContextByEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CustomProcessContext">
        <xs:sequence>
          <xs:element xmlns:q12="Entities.General" minOccurs="0" name="Entity" nillable="true" type="q12:ClassEntity" />
          <xs:element minOccurs="0" name="EntityRowID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomProcessContextByEntity" nillable="true" type="tns:CustomProcessContextByEntity" />
  <xs:complexType name="CustomProcessContext">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="Entities.Profile" base="q13:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContextBasicValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContextDataType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContextKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsInternal" type="xs:boolean" />
          <xs:element xmlns:q14="Entities.General" minOccurs="0" name="ProcessType" nillable="true" type="q14:DocumentType" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element xmlns:q15="Entities.General" minOccurs="0" name="Status" nillable="true" type="q15:Status" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomProcessContext" nillable="true" type="tns:CustomProcessContext" />
  <xs:complexType name="ArrayOfCustomProcessRoute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomProcessRoute" nillable="true" type="tns:CustomProcessRoute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomProcessRoute" nillable="true" type="tns:ArrayOfCustomProcessRoute" />
  <xs:complexType name="CustomProcessTransition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="Entities.Profile" base="q16:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentActivity" nillable="true" type="tns:CustomProcessActivity" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NextActivity" nillable="true" type="tns:CustomProcessActivity" />
          <xs:element minOccurs="0" name="Process" nillable="true" type="tns:CustomProcess" />
          <xs:element minOccurs="0" name="ResultContextKey" nillable="true" type="tns:CustomProcessContext" />
          <xs:element minOccurs="0" name="ResultValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element minOccurs="0" name="Sequence" type="xs:short" />
          <xs:element xmlns:q17="Entities.General" minOccurs="0" name="Status" nillable="true" type="q17:Status" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomProcessTransition" nillable="true" type="tns:CustomProcessTransition" />
  <xs:complexType name="ArrayOfCustomProcessTransition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomProcessTransition" nillable="true" type="tns:CustomProcessTransition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomProcessTransition" nillable="true" type="tns:ArrayOfCustomProcessTransition" />
  <xs:complexType name="CustomProcessTransitionByEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CustomProcessTransition">
        <xs:sequence>
          <xs:element xmlns:q18="Entities.General" minOccurs="0" name="Entity" nillable="true" type="q18:ClassEntity" />
          <xs:element minOccurs="0" name="EntityRowID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomProcessTransitionByEntity" nillable="true" type="tns:CustomProcessTransitionByEntity" />
  <xs:complexType name="ArrayOfCustomProcessTransitionByEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomProcessTransitionByEntity" nillable="true" type="tns:CustomProcessTransitionByEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomProcessTransitionByEntity" nillable="true" type="tns:ArrayOfCustomProcessTransitionByEntity" />
  <xs:complexType name="ArrayOfCustomProcess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomProcess" nillable="true" type="tns:CustomProcess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomProcess" nillable="true" type="tns:ArrayOfCustomProcess" />
  <xs:complexType name="ArrayOfCustomProcessContext">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomProcessContext" nillable="true" type="tns:CustomProcessContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomProcessContext" nillable="true" type="tns:ArrayOfCustomProcessContext" />
  <xs:complexType name="ArrayOfCustomProcessActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomProcessActivity" nillable="true" type="tns:CustomProcessActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomProcessActivity" nillable="true" type="tns:ArrayOfCustomProcessActivity" />
</xs:schema>