LogPro 01 Septiembre 2015/WMS30IQ.20123/WpfFrontOLD/Service References/WMSBusinessService/Entities.Trace1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities.Trace" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities.Trace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="Entities.Trace" />
  <xs:import namespace="Entities.Master" />
  <xs:complexType name="ArrayOfDocumentBalance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentBalance" nillable="true" type="tns:DocumentBalance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentBalance" nillable="true" type="tns:ArrayOfDocumentBalance" />
  <xs:complexType name="DocumentBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseQtyPending" type="xs:double" />
      <xs:element minOccurs="0" name="BaseQtyProcessed" type="xs:double" />
      <xs:element minOccurs="0" name="BaseQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="DefaultProductBins" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="Entities.Trace" minOccurs="0" name="Document" nillable="true" type="q1:Document" />
      <xs:element xmlns:q2="Entities.Trace" minOccurs="0" name="DocumentLine" nillable="true" type="q2:DocumentLine" />
      <xs:element xmlns:q3="Entities.Master" minOccurs="0" name="Location" nillable="true" type="q3:Location" />
      <xs:element xmlns:q4="Entities.Trace" minOccurs="0" name="Node" nillable="true" type="q4:Node" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="Entities.Master" minOccurs="0" name="Product" nillable="true" type="q5:Product" />
      <xs:element minOccurs="0" name="QtyPending" type="xs:double" />
      <xs:element minOccurs="0" name="QtyProcessed" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element xmlns:q6="Entities.Master" minOccurs="0" name="Unit" nillable="true" type="q6:Unit" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentBalance" nillable="true" type="tns:DocumentBalance" />
  <xs:complexType name="ArrayOfCountTaskBalance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountTaskBalance" nillable="true" type="tns:CountTaskBalance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountTaskBalance" nillable="true" type="tns:ArrayOfCountTaskBalance" />
  <xs:complexType name="CountTaskBalance">
    <xs:sequence>
      <xs:element xmlns:q7="Entities.Master" minOccurs="0" name="Bin" nillable="true" type="q7:Bin" />
      <xs:element xmlns:q8="Entities.Trace" minOccurs="0" name="BinByTask" nillable="true" type="q8:BinByTask" />
      <xs:element minOccurs="0" name="CaseType" type="xs:int" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="Entities.Trace" minOccurs="0" name="CountTask" nillable="true" type="q9:Document" />
      <xs:element minOccurs="0" name="Difference" type="xs:double" />
      <xs:element xmlns:q10="Entities.Trace" minOccurs="0" name="Label" nillable="true" type="q10:Label" />
      <xs:element minOccurs="0" name="LabelCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mark" type="xs:boolean" />
      <xs:element xmlns:q11="Entities.Master" minOccurs="0" name="Product" nillable="true" type="q11:Product" />
      <xs:element minOccurs="0" name="QtyCount" type="xs:double" />
      <xs:element minOccurs="0" name="QtyCountDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QtyExpected" type="xs:double" />
      <xs:element minOccurs="0" name="QtyExpectedDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sign" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="Entities.Master" minOccurs="0" name="UnitCount" nillable="true" type="q12:Unit" />
      <xs:element xmlns:q13="Entities.Master" minOccurs="0" name="UnitExpected" nillable="true" type="q13:Unit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountTaskBalance" nillable="true" type="tns:CountTaskBalance" />
</xs:schema>