LogPro 01 Septiembre 2015/WMS30IQ.20123/WpfFrontOLD/Service References/WMSBusinessService/Entities.Process1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Entities.Process" elementFormDefault="qualified" targetNamespace="Entities.Process" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="Entities.General" />
  <xs:import namespace="Entities.Master" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entities.Process" />
  <xs:import namespace="Entities.Profile" />
  <xs:complexType name="ProcessEntityResource">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Entities.Profile" base="q1:Auditing">
        <xs:sequence>
          <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="Entities.General" minOccurs="0" name="Entity" nillable="true" type="q2:ClassEntity" />
          <xs:element minOccurs="0" name="EntityRowID" type="xs:int" />
          <xs:element xmlns:q3="Entities.Master" minOccurs="0" name="File" nillable="true" type="q3:ImageEntityRelation" />
          <xs:element xmlns:q4="Entities.General" minOccurs="0" name="Printer" nillable="true" type="q4:Connection" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities.Process" minOccurs="0" name="Process" nillable="true" type="q5:CustomProcess" />
          <xs:element minOccurs="0" name="RowID" type="xs:int" />
          <xs:element xmlns:q6="Entities.General" minOccurs="0" name="Status" nillable="true" type="q6:Status" />
          <xs:element xmlns:q7="Entities.General" minOccurs="0" name="Template" nillable="true" type="q7:LabelTemplate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcessEntityResource" nillable="true" type="tns:ProcessEntityResource" />
  <xs:complexType name="ArrayOfProcessEntityResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessEntityResource" nillable="true" type="tns:ProcessEntityResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessEntityResource" nillable="true" type="tns:ArrayOfProcessEntityResource" />
</xs:schema>